<div class="page-header">
  <%= link_to contatos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_contato_path(@contato), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show contato</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @contato.nome %></dd>

  <dt>Telefone:</dt>
  <dd><%= @contato.telefone %></dd>

  <dt>Endereço:</dt>
  <dd><%= @contato.endereco %></dd>

  <dt>Bairro:</dt>
  <dd><%= @contato.bairro %></dd>

</dl>
